@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700|Montserrat:500,700");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100vh;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Istok Web', 'sans-serif';
  background-color: #fff; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

h2 {
  font-family: 'Montserrat', 'Sans-serif';
  font-size: 3.2rem;
  font-weight: 500; }
